.project-wrapper {
  margin: 40px;
}

.project-wrapper {
  margin: 40px;
}

.project-bar {
  margin: 20px 0;
  background-color:rgba(189, 172, 212, 0.237);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.project-bar:hover {
  background-color:rgba(192, 161, 213, 0.39);
}

.project-bar:nth-child(odd) {
  background-color: rgba(200, 207, 217, 0.6);
}

.project-bar:nth-child(odd):hover {
  background-color:rgba(200, 203, 217, 0.943)
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
  margin: 0 20px;
  font-size: 12px;
}

.text-wrapper:hover {
  text-decoration: underline;
}

.project-description {
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.project-title {
  font-weight: bold;
  font-size: 16px;
  min-width: 150px;
}

.project-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
  height: 100%;
  text-decoration: none;
}

.project-links a:hover {
  color: #1e00ff;
}

.logo {
  border-left: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 20px;
  height: 100%;
  min-width: 260px;
}

.sandstone img {
  max-width: 220px;
  max-height: 27px;
}

.sia img {
  max-width: 150px;
  max-height: 70px;
}

@media only screen and (min-width: 1441px) {
  .text-wrapper:has(.sandstone-details) {
    max-width: 50%;
  }
}

@media only screen and (max-width: 1190px) {
  .project-bar {
    flex-direction: column;
    height: 100%;
  }

  .text-wrapper {
    flex-direction: column;
    margin: 20px 0;
  }

  .project-title {
    margin-bottom: 20px;
    text-align: center;
  }

  .project-links {
    margin-top: 20px;
    flex-direction: row;
  }

  .project-links a {
    margin: 0 20px;
  }

  .logo {
    border-left: none;
    border-top: solid 1px;
    width: 100%;
    padding: 20px 0;
    min-height: 60px;
  }
}

@media only screen and (max-width: 700px) {
  .sandstone-details {
    padding: 0 20px;
  }

  .project-description {
    padding: 10px 20px;
  }
}