html {
  background-color: #fef3e1;
  color: #361017;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #361017;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* shared styling for detail pages */

.projects-root {
  display: flex;
  justify-content: center;
}   

.projects-content {
  width: 70%;
  border-left: solid 1px;
  border-right: solid 1px;
  padding: 20px;
}

.projects-content p {
  white-space: pre;
  white-space: normal;
}

.back-link {
  margin: 40px;
}

.detail-block {
  background-color:rgb(212, 199, 172, 0.6);
  border-radius: 5px;
  margin: 40px 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 40px;
  line-height: 24px;
}

.page-title {
  display: flex;
  justify-content: center;
  background: none;
}

.overview {
  background-color:rgb(212, 199, 172, 0.6);
  border-radius: 5px;
  margin: 40px 100px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 20px;
  line-height: 24px;
}

.detail-block-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-block-title {
  font-weight: bold;
}

.detail-block-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 11px;
  margin-left: 20px;
}

.detail-block-link:hover {
  color: #55c7b9;
}

.image-block {
  border-top: solid 1px;
  min-height: 200px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;


  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.image-block img {
  margin: 10px;
  border-radius: 5px;
}

.mobile-image {
  display: none;

  @media only screen and (max-width: 700px) {
    display: block;
  }
}

@media only screen and (max-width: 1190px) {
  .projects-content {
    width: 80%;
  }
}

@media only screen and (max-width: 890px) {
  .image-block img {
    max-width: 360px;
    max-height: 200px;
    object-fit: contain;
  } 
}

@media only screen and (max-width: 700px) {
  .projects-content {
    width: 100%;
  }

  .detail-block {
    align-items: center;
  }

  .detail-block, .overview {
    margin: 20px;
  }

  .image-block img {
    max-width: 300px;
    max-height: 150px;
  } 
}

/* styling specific to only certain blocks */

.image-block.flourish {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-block.flourish img {
  min-height: 425px;
  width: 300px;
}

@media only screen and (max-width: 890px) {
  .image-block.flourish {
    display: flex;
    flex-direction: column;
  }

  .image-block.flourish img {
    min-height: 425px;
  } 
}

@media only screen and (max-width: 700px) {
  .image-block.flourish img {
    min-height: 380px;
  }
}