.root {
  display: flex;
  flex-direction: row;
}

.contact a:hover, .resume-bar a:hover {
  color: #55c7b9;
}

.main-section {
  width: 100%;
}


@media only screen and (max-width: 700px) {
  .root {
    flex-direction: column;
  }
}